@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-black: #1f1f1f;
  --color-primary: #DA4725;
  --color-grey: #727272;
  --color-lightOrange: #FDF6F4;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  color: var(--color-black)
}

.container {
  max-width: 440px;
  background: var(--color-lightOrange);
  position: relative;
  height: 100%;
}

